<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column ">
  <div class="text-white" style="background-color:blueviolet;">
    <h1 class="h1 my-5 mx-5">Welcome</h1>
  </div>
  <div class="d-flex justift-content-evenly my-3 gap-3">
    <div class="flex-fill d-flex flex-column justift-content- gap-3 mx-3">
      <button class="button bg-info border-0 text-white text-start">The Flight</button>
      <button class="button bg-info border-0 text-white text-start">The City</button>
      <button class="button bg-info border-0 text-white text-start">The Island</button>
      <button class="button bg-info border-0 text-white text-start">The Food</button>
    </div>
    <div class="bg-danger">
    </div>
    <div class="flex-fill d-flex justify-content-center">
      <div class="flex-fill d-flex flex-column text-center bg-info text-white justify-content-evenly h-75">
        <div>
          <h4>What?</h4>
          <span>Plan your flight</span>
        </div>
        <div>
          <h4>Where?</h4>
          <span>Wherewer you want</span>
        </div>
        <div>
          <h4>How?</h4>
          <span>Using our page</span>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-7ZfL3F5K2e9Uz6ZtJbz0kO3xE3+2Fs2CBBzD9x2Q7Wn8bA3kV7mvX0C0i8s5zS4p"
    crossorigin="anonymous"></script>
</body>

</html>
